<%- include('header', {pagetitle: 'Product'}) -%>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-between">
      <a href="/" class="btn btn-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 1-.5.5H3.707l4.147 4.146a.5.5 0 0 1-.708.708l-5-5a.5.5 0 0 1 0-.708l5-5a.5.5 0 0 1 .708.708L3.707 7.5H14.5A.5.5 0 0 1 15 8z"/>
        </svg>
      </a>
      <% if (user.leader === true) { %>
        <a href="/product/modify/<%= product._id %>" class="btn btn-dark">Modify</a>
      <% } %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <table class="table table-custom-product">
        <tr>
          <td class="col-3 align-middle" rowspan="6">
            <img src="<%= product.image_path ? '/images/' + product.image_path : 'https://placehold.co/310x250' %>" class="img-fluid" alt="Item Image">
          </td>
          <td class="col-6">Name: <span class="text-danger"><%= product.name %></span></td>
        </tr>
        <tr>
          <td class="col-6">Item number: <span class="text-danger"><%= product.item_number %></span></td>
        </tr>
        <tr>
          <td class="col-3">Category: <span class="text-danger"><%= product.category %></span></td>
          <% if (product.category.toLowerCase() === 'sheet') { %>
            <td class="col-3">Color: <span class="text-danger"><%= product.color %></span></td>
        <% } else { %>
            <td class="col-3">Sub-category: <span class="text-danger"><%= product.subcategory %></span></td>
        <% } %>

        </tr>
        <% if (product.category.toLowerCase() === 'sheet') { %>
          <tr>
            <td class="col-3">
              Sizes:
              <span class="text-danger">
      <%= product.sizes.map(size => `${size.height}x${size.width} (${size.quantity})`).join(', ') %>
            <td class="col-3">Thickness: <span class="text-danger"><%= product.thickness %></span> mm</td>
    </span>
            </td>
          </tr>
        <% } else { %>
          <tr>
            <td class="col-6">In stock: <span class="text-danger"><%= product.in_stock %></span> pcs</td>
          </tr>
        <% } %>
        <tr>
          <td class="col-3">Manufacturer: <span class="text-danger"><%= product.manufacturer %></span></td>
          <td class="col-3">Supplier: <span class="text-danger"><%= product.supplier %></span></td>
        </tr>
        <tr>
          <td class="col-6" colspan="2">
            <a href="/transaction/<%= product._id %>" class="btn btn-success">View transactions</a>
          </td>
        </tr>
      </table>
      <% if (user.leader === true) { %>
        <tr>
          <td class="col-6 text-end" colspan="2">
            <form method="POST" action="/product/delete/<%= product._id %>" class="text-end" onsubmit="return confirm('Are you sure you want to delete this product?');">
              <input type="hidden" name="product_id" value="<%= product._id %>">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
      <% } %>
    </div>
  </div>
</div>
<%- include('footer') -%>