<%- include('header', {pagetitle: 'Project'}) -%>
<div id="calendar"></div>

<% if (user.leader === true) { %>
  <div class="add-button-project pb-5">
    <button class="btn btn-success" onclick="window.location.href='/project/add'">Add new</button>
  </div>
<% } %>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const calendarEl = document.getElementById('calendar');

    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      initialDate: new Date(new Date().getFullYear(), new Date().getMonth(), 1),
      headerToolbar: {
        left: 'prev',
        center: 'title',
        right: 'next'
      },
      events: [
        <% projects.forEach(project => { %>
        {
          title: "<%= project.name %>",
          start: "<%= new Date(project.dateFrom).toISOString().split('T')[0] %>",
          end: "<%= new Date(project.dateTo).toISOString().split('T')[0] %>",
          url: "/project/modify/<%= project._id %>"
        },
        <% }) %>
      ],
      eventClick: function(info) {
        // A `url` mező miatt nem kell kézzel kezelni a kattintást
        info.jsEvent.preventDefault();
        if (info.event.url) {
          window.location.href = info.event.url;
        }
      }
    });

    calendar.render();
  });
</script>
<%- include('footer') -%>