<%- include('header', {pagetitle: 'Transaction'}) -%>
<div class="container mt-4">
<!-- Back Arrow -->
  <a href="/product/<%= product._id %>" class="btn btn-link mb-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 1-.5.5H3.707l4.147 4.146a.5.5 0 0 1-.708.708l-5-5a.5.5 0 0 1 0-.708l5-5a.5.5 0 0 1 .708.708L3.707 7.5H14.5A.5.5 0 0 1 15 8z"/>
    </svg>
  </a>

<!-- Product Info -->
  <div class="mb-4 text-center">
    <p class="mb-1 fs-3">Product Name: <span class="text-danger fw-semibold"><%= product.name %></span></p>
    <p class="mb-0 fs-4">Product Item Number: <span class="text-danger fw-semibold"><%= product.item_number %></span></p>
  </div>

  <!-- Transaction Entries -->
  <% if (transactions.length === 0) { %>
    <p class="text-muted text-center">No transactions found for this product.</p>
  <% } else { %>
    <% transactions.forEach(transaction => { %>
      <div class="d-flex align-items-center mb-3">
        <!-- Box -->
        <div class="border p-3 d-flex justify-content-between align-items-center flex-grow-1">
          <div>
            <p class="mb-1">User: <span class="text-danger"><%= transaction._user.name %> (<%= transaction._user.username %>)</span></p>
            <p class="mb-0">Date: <span class="text-danger">
    <%= new Date(transaction.date).toLocaleString('en-GB', {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit',
        hour: '2-digit',
        minute: '2-digit'
    }) %>
  </span></p>
          </div>
            <% if (transaction._product.category === 'Discrete') { %>
                <h4 class="mb-0">-<%= transaction.quantity %></h4>
            <% } else { %>
                <h4 class="mb-0">-<%= transaction.size.height %>x<%= transaction.size.width %> (<%= transaction.quantity %>)</h4>
            <% } %>

        </div>

        <!-- Gear Icon -->
        <% if (user.leader === true) { %>
          <a href="/transaction/modify/<%= transaction._product._id %>/<%= transaction._id %>" class="ms-2 d-flex align-items-center">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg">
              <path d="M19.14,12.94c0.04-0.31,0.06-0.63,0.06-0.94s-0.02-0.63-0.06-0.94l2.03-1.58c0.18-0.14,0.23-0.4,0.12-0.61l-1.92-3.32
            c-0.11-0.2-0.35-0.28-0.57-0.22l-2.39,0.96c-0.5-0.38-1.05-0.7-1.65-0.94L14.5,2.81C14.47,2.58,14.27,2.42,14.03,2.42h-4.06
            c-0.24,0-0.44,0.17-0.47,0.39L9.09,5.33c-0.6,0.24-1.15,0.56-1.65,0.94L5.05,5.31c-0.22-0.06-0.46,0.02-0.57,0.22L2.56,8.85
            c-0.11,0.21-0.06,0.47,0.12,0.61l2.03,1.58C4.65,11.37,4.62,11.69,4.62,12s0.02,0.63,0.06,0.94L2.65,14.52
            c-0.18,0.14-0.23,0.4-0.12,0.61l1.92,3.32c0.11,0.2,0.35,0.28,0.57,0.22l2.39-0.96c0.5,0.38,1.05,0.7,1.65,0.94l0.41,2.52
            c0.04,0.23,0.24,0.39,0.47,0.39h4.06c0.24,0,0.44-0.17,0.47-0.39l0.41-2.52c0.6-0.24,1.15-0.56,1.65-0.94l2.39,0.96
            c0.22,0.06,0.46-0.02,0.57-0.22l1.92-3.32c0.11-0.21,0.06-0.47-0.12-0.61L19.14,12.94z M12,15.6c-1.99,0-3.6-1.61-3.6-3.6
            s1.61-3.6,3.6-3.6s3.6,1.61,3.6,3.6S13.99,15.6,12,15.6z"/>
            </svg>
          </a>
        <% } %>
      </div>
    <% }) %>
  <% } %>
</div>
<%- include('footer') -%>